@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito", sans-serif;
}

h1 {
	text-align: center;
	font-size: 40px;
	padding: 10px;
}

#placar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.placar-user,
.placar-comp {
	text-align: center;
	border: 2px black solid;
	width: 150px;
	font-size: 30px;
	margin: 1rem;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.escolhas {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#userScore,
#compScore {
	font-size: 100px;
}

.tag {
	background-color: black;
	color: white;
	height: 3rem;
}

h2 {
	text-align: center;
	margin: 2rem;
	font-size: 30px;
}

.escolha {
	margin: 1rem 2rem;
	padding: 2rem;
	border: 5px solid black;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s ease, scale 0.3s ease,
		border-color 0.3s ease;
}

.escolha:hover {
	scale: 1.1;
}

img {
	width: 200px;
}

.verde {
	border-color: chartreuse;
	box-shadow: 0 0 5px rgb(172, 253, 90);
}

.vermelho {
	border-color: crimson;
	box-shadow: 0 0 5px rgb(237, 65, 99);
}

.cinza {
	border-color: rgb(126, 126, 126);
	box-shadow: 0 0 5px rgb(169, 169, 169);
}

@media screen and (max-width: 1138px) {
	.escolha {
		margin: 1rem 1rem;
	}
	img {
		width: 80px;
	}
}
